body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 950px;
    margin: 0px auto;
    font-size: 14px;
    color: #333;
}

.title {
    font-size: 25px;
    margin-top: 40px;
    padding: 20px 0;
}

p {
    line-height: 25px;
}

ol {
    padding: 20px 0;
}

li {
    padding: 10px 0;
}

ol > li {
    margin-left: 15px;
    padding-left: 20px;
}

ul > li {
    margin-left: 50px;
    list-style: disc;
}


