body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 950px;
    margin: 0px auto;
    font-size: 13.5px;
    color: #333;
}

.title {
    font-size: 24px;
    margin-top: 40px;
    padding: 20px 0;
}

.small-title {
    font-size: 20px;
}

p {
    line-height: 25px;
}

ol {
    padding: 20px 0;
}

li {
    padding: 10px 0;
}

ol > li {
    margin-left: 15px;
    padding-left: 20px;
}

ul > li {
    margin-left: 50px;
    list-style: disc;
}

.blue-text {
    color:dodgerblue ;
}