body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 950px;
    margin: 0px auto;
    font-size: 13.5px;
    color: #333;
}

.title {
    font-size: 24px;
    margin-top: 40px;
    padding: 20px 0;
    line-height: 35px;
}

.small-title {
    font-size: 20px;
}

p {
    line-height: 25px;
}

ul,
ol,
li {
    padding: 10px 0;
}

ol {
    margin-left: 15px;
}

ol > li {
    padding-left: 20px;
}

ul > li {
    margin-left: 40px;
    list-style: lower-alpha;
}

.blue-text {
    color:dodgerblue ;
}

.blue-text:hover {
    cursor: pointer;
    text-decoration: underline;
}